.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .featureButon {
    border-radius: 20px;
    width: 80%;
    padding: 10px 20px;
    border: none;
    background-color: #ff6b6b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ff3b3b;
    }

    &:active {
      background-color: #fdfdfd;
    }
  }
}
